body {
   background-color: rgba(244, 244, 244);
}

.calculator{
    box-shadow: 0px 0px 3px 0 black;
    width: 300px;
    margin: auto;
    height: 560px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.calbox{
    border:  1px solid black;
    height: 30px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: right;
    background-color: aliceblue;
    font-size: 25px;

    
    
}

.red {
    background-color: rgba(254, 82, 82);
}

.calbuton {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    flex-direction: row;
    border: 0px;
    width: 60px;
    height: 60px;
    padding: 20px;
    font-size: 20px;
    margin: 20px 0px;
    border-radius: 10px;
    
}

.c {
    width: 265px;
    margin: auto;
    text-align: center;
    padding: 20px;
    margin: 0px 5%;
}

.buttondiv {
    text-align: center;
}